.logo {
  font-size: 45px;
  font-weight: normal;
  padding-top: 1.6rem !important;
}

.navBar {
  margin-top: 15px !important;
  text-align: center;
  color: #8a6d2f;
  border-radius: 0px;
  border: none !important;
}
